include header.pug
body#welcome-body
  p#welcome-p(class="w3-text-white") Welcome to the auction!
  button(class="w3-btn w3-light-grey w3-xlarge w3-text-blue-grey w3-round-large ", onclick=`window.location = "http://localhost:3000/pictures";`, id='bt') Go there
